In [18]:
import pandas as pd
from glob import glob
import numpy as np

groups = pd.read_csv('data\\groups.csv', index_col='group_id')
members = pd.read_csv('data\\memberships.csv', parse_dates=['joined','visited'])
#for date_col in ['joined', 'visited']:
#    members[date_col] = pd.to_datetime(members[date_col], unit='ms')
files = glob('data\\*.csv')

In [24]:
members.drop('Unnamed: 0', axis=1).to_csv('data\\memberships.csv', encoding='utf-8', index=None)
#members.to_csv('data\\groups.csv', encoding='utf-8')

In [23]:
.head()

,member_id,city,group_id,hometown,joined,lat,lon,name,state,visited
0,183378723,Mount Juliet,26298838,NaN,2017-10-18 14:18:22,36.21,-86.52,Jim Mosier,TN,2017-10-18 14:18:22
1,200612671,Murfreesboro,26298838,NaN,2017-10-17 22:04:01,35.82,-86.45,Junie George,TN,2017-10-19 00:07:05
2,148010152,Goodlettsville,26166316,Goodlettsville,2017-10-06 01:18:21,36.33,-86.74,Bruce Smith,TN,2017-10-06 01:18:21
3,191328601,Goodlettsville,26166316,Goodlettsville,2017-10-05 21:42:25,36.33,-86.74,Riphaeus,TN,2017-10-11 18:35:57
4,213837877,Nashville,26140018,NaN,2017-10-04 18:37:45,36.18,-86.74,Christian Hooser,TN,2017-10-04 08:31:51

In [ ]:
pd.read_csv('data\\memberships.csv', parse_dates=['joined','visited'])

In [5]:
pd.to_datetime(members.visited, unit='ms')

0        2017-10-18 14:18:22
1        2017-10-19 00:07:05
2        2017-10-06 01:18:21
3        2017-10-11 18:35:57
4        2017-10-04 08:31:51
5        2017-10-14 23:48:00
6        2017-10-15 15:42:40
7        2017-09-27 16:30:50
8        2017-10-06 12:08:54
9        2017-09-05 02:28:49
10       2017-10-20 01:01:28
11       2017-10-16 16:25:08
12       2017-10-23 05:31:44
13       2013-11-17 12:53:09
14       2013-11-18 20:52:13
15       2013-12-31 04:54:56
16       2013-11-15 22:51:33
17       2013-12-14 15:51:20
18       2017-09-27 01:22:37
19       2017-10-03 12:01:21
20       2017-10-02 15:02:54
21       2017-10-04 01:55:37
22       2017-10-23 14:39:19
23       2017-10-23 18:05:37
24       2017-09-02 02:09:40
25       2016-09-07 22:16:46
26       2017-07-29 01:33:43
27       2017-08-10 22:24:43
28       2017-09-23 17:06:02
29       2017-09-16 00:20:14
                 ...
342235   2017-05-23 00:13:47
342236   2013-10-17 17:30:22
342237   2017-10-18 03:40:58
342238   2017-07-06 14:31:22
342239   2016-09-13 12:22:54
342240   2017-10-23 21:10:43
342241   2016-03-23 13:50:24
342242   2017-02-04 01:43:02
342243   2017-02-03 14:40:07
342244   2016-07-13 23:15:05
342245   2016-05-11 06:15:51
342246   2017-08-15 16:15:29
342247   2017-05-03 18:43:23
342248   2017-08-10 23:14:54
342249   2015-10-18 02:08:43
342250   2016-04-22 21:45:33
342251   2017-10-16 22:01:46
342252   2016-11-22 03:17:13
342253   2016-02-16 13:39:54
342254   2017-10-22 03:45:09
342255   2016-10-23 04:27:37
342256   2017-04-11 12:05:13
342257   2017-10-21 06:04:46
342258   2017-07-03 21:23:21
342259   2017-08-03 02:26:45
342260   2017-08-23 16:07:35
342261   2017-07-12 00:09:36
342262   2015-06-23 20:50:15
342263   2016-11-08 01:58:01
342264   2017-08-08 21:09:13
Name: visited, dtype: datetime64[ns]

In [6]:
gdata = pd.DataFrame()
for g in files:
    if not 'group' in g:
        tdf = pd.read_csv(g, encoding='latin1')
        gdata = gdata.append(tdf)

KeyboardInterrupt:

In [25]:
groups.shape

(865, 6)

In [26]:
members.group_id = members.group_id.astype(int)
cdf = groups.join(members.groupby('group_id').agg(len))

In [28]:
match_vals = np.abs(cdf.city - cdf.num_members) > 1

In [40]:
print(cdf.loc[cdf.member_id.isnull()].sort_values(by='num_members').index.tolist())

[22982126, 25514523, 26148182, 25747812, 25842377, 21289207, 24471828, 20326297, 19072581, 18833001, 22824474, 19934899, 26258970, 25026657, 23234440, 25661378, 24985315, 19408839, 26254038, 7129942, 20229452, 26074382, 25442126, 24504847, 1819474, 24762391, 25122337, 22501996, 19764562, 22275880, 18194233, 24351103, 21771089, 23029297, 1512578, 24637264, 21846276, 23523548, 23709488, 23318990, 23181015, 4037642, 23505371, 19992350, 19215770, 4507792, 19549621, 1299250, 26042538, 19370256, 20488570, 20267150, 22632117, 19479699, 26080969, 18505473, 18737159, 19306451, 20486490, 19440811, 18487182, 24890978, 16731932, 21801924, 18916508, 21064154, 14194422, 18476335, 11138782, 25756605, 19042913, 20216370, 691322, 10580242, 23593297, 18630936, 20571755, 18642322, 1586635, 17732042, 19503486, 1680888, 1585263, 11574842, 25066933, 2749292, 19856615, 21148651, 18602694, 22782911, 20285980, 1768040, 19740004, 21506105, 21710544, 3718972, 23598515, 19591270, 8741902, 1049061, 23273659, 22916872, 17213452, 18412046, 23018525, 351080, 19459402, 19959627, 6859622, 1776410, 13993792, 4341532, 19115644, 24440003, 18502048, 2527902, 18483128, 1819536, 530494, 1438993, 510297, 1660079, 19035334, 18579141, 2662782, 1150309, 1682521, 4642582, 1770788, 20040517, 1788274, 9540322, 1694517, 17404882, 211512, 3260132, 16291092, 377617, 1334499, 3217182, 1226140, 1808866, 9452822, 1877261, 1583865, 968626]

In [52]:
gdata.id.value_counts()

234168251.0    355
4389320.0      146
12134295.0     117
204871578.0    112
38690452.0     111
144256692.0    110
187700521.0    105
8539046.0      103
221161925.0     91
62418442.0      89
226128410.0     87
3380276.0       86
234154899.0     83
208678123.0     80
81924252.0      77
62106992.0      77
238177306.0     76
53071102.0      75
186379477.0     74
222899804.0     74
3949436.0       74
166082312.0     73
183621154.0     73
200946236.0     72
69568352.0      71
196267339.0     70
221128997.0     70
228533008.0     68
204360367.0     67
46486792.0      67
              ...
196387892.0      1
98193432.0       1
234443860.0      1
213027646.0      1
196383608.0      1
234444225.0      1
196375654.0      1
196371022.0      1
98202942.0       1
196408983.0      1
12275955.0       1
14651596.0       1
196456497.0      1
5535589.0        1
196453720.0      1
196452048.0      1
234411473.0      1
12277981.0       1
196446996.0      1
152563132.0      1
234413001.0      1
196442381.0      1
196441387.0      1
196438938.0      1
117210512.0      1
196436943.0      1
222537001.0      1
196432390.0      1
58606142.0       1
134215522.0      1
Name: id, dtype: int64