In [ ]:
pd.read_csv

In [24]:
import pandas as pd
from glob import glob
import numpy as np

groups = pd.read_csv('data\\groups.csv', encoding='latin1', index_col='group_id')
files = glob('data\\*.csv')

In [28]:
gdata = pd.DataFrame()
for g in files:
    if not 'group' in g:
        tdf = pd.read_csv(g, encoding='latin1')
        gdata = gdata.append(tdf)

In [15]:
gdata.group_id = gdata.group_id.astype(int)
cdf = gdata.groupby('group_id').agg(len).join(groups)

In [25]:
match_vals = np.abs(cdf.city - cdf.num_members) > 10

Empty DataFrame
Columns: [Unnamed: 0, city, hometown, id, joined, lat, lon, name, state, visited, group_name, num_members, category_id, category_name, organizer_id, group_urlname]
Index: []

In [27]:
len(files)

766